.container2 {
  display: flex;
  flex-direction: column;
  width: 25%;
  /* justify-content: flex-end; */
  /* align-content: space-around; */
}

.sub2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
.sub2.card {
  border: gray solid 2px;
  background-color: #fff;
}

.sub3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sub4 {
  display: flex;
  flex-direction: column;
}

.sub4 *{
  margin: 1.2rem 0;
}

.img2 {
  width: 25%;
}