.container2 {
  display: flex;
  flex-direction: column;
  width: 28%;
  margin-top: 40px;
  margin-left: -10px;
}

.sub2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.sub2.card {
  border-color: gray 1px;
  background-color: white;
}

.sub3.card {
  border-color: gray 1px;
  background-color: white;
}

.sub3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.sub4 {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
}

.sub4 * {
  margin: 0.3rem;
}

.img2 {
  width: 25%;
}